.item { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 16%;
}
.item-title>div{
    font-size: 40px;
}

.item-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
}